.group {
  width: 217px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 23px;
  margin-left: 16px;
  background-color: #3a3a3a;
}

.grouppic {
  width: 39px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

.groupname {
  color: #cbcbcb;
  font-family: "Roboto Thin";
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
}
