.sidebar {
  background-color: #303234;
  height: 100%;
  width: 288px;
  overflow-y: scroll;
  border-radius: 0px 70px 0px 0px;
}
/* scrollbar */
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.sidebar::-webkit-scrollbar-track {
  margin-top: 70px;
  background-color: rgb(26, 26, 26);
}
.sidebar::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 25px;
}

/* Chats */
.yourchats_sec {
  height: 392px;
  margin-top: 147px;
}

.yourchats_headline {
  margin-left: 16px;
  margin-bottom: 64px;
  color: #cbcbcb;
}
/* Groups */
.yourgroups_sec {
  margin-top: 35px;
}

.yourgroups_headline {
  margin-left: 16px;
  margin-bottom: 64px;
  color: #cbcbcb;
}

/* Profile */
.profile_sec {
  height: 154px;
  width: 100%;
}

.seperation_line {
  width: 90%;
  border-top: #787b7d solid 1px;
  margin: 0 auto;
  margin-top: 65px;
}

.profile_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.notification {
  width: 42px;
  height: 38px;
  margin-right: 18px;
}

.yourprofile_pic {
  width: 61px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 23px;
}
