.home {
  height: 100vh;
  display: flex;
}

.wrap {
  background-color: #24272c;
  display: flex;
  flex: 1;
}

.content {
  flex: auto; /*oder flex:2*/
  overflow-y: scroll;
  margin-left: 100px;
}

.headline {
  color: #cbcbcb;
  margin-top: 54px;
  font-family: "Roboto Medium";
  margin-bottom: 19px;
}

.publicgroups_sec {
  margin-right: 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* for handys */
@media only screen and (max-width: 600px) {
  .content {
    margin: 0;
    padding: 0;
  }
  .headline {
    text-align: center;
  }
  .publicgroups_sec {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .publicgroups_sec:last-of-type {
    margin-bottom: 100px;
  }
}
