.navbar {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list {
  padding: 0;
}

.list_items {
  display: inline-block;
  padding: 0 100px 0px 0px;
  color: #787b7d;
  font-family: "Roboto Medium";
  text-decoration: none;
}

.list_items:nth-child(1) {
  padding: 0 110px 0px 0px;
}

.logo {
  width: 45px;
  margin: 0 auto;
}

.hamburger_menu span {
  display: none;
}

.checkbox {
  display: none;
}

/* Navbar view for Tablets */
@media screen and (max-width: 1100px) {
  .list_items {
    padding: 0 50px 0px 0px;
  }
  .list_items:nth-child(1) {
    padding: 0 50px 0px 0px;
  }
}

/*  Navbar view for Handys */
@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .list_items {
    margin: 15px;
    font-size: 1.2em;
  }

  .list_items:nth-child(3) {
    display: none;
  }

  .hamburger_menu span {
    display: block;
    margin: 4px;
    height: 4px;
    width: 25px;
    background: #cbcbcb;
    border-radius: 3px;
  }

  .list_items {
    padding: 0;
  }
  .list_items:nth-child(1) {
    padding: 0;
  }

  .logo {
    margin: 0;
  }

  .ham-wrap-open {
    /* height: 100%; */
    width: 100%;
    background-color: #303234;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  .ham-wrap-close {
    display: none;
  }

  .hamburgermenu_cross {
    height: 30px;
    width: 40px;
    margin: 0;
    margin-top: 25px;
    position: relative;
    top: 25px;
    left: 23px;
  }
  .hamburger_line1 {
    width: 25px;
    height: 4px;
    transform: rotate(135deg);
    background-color: #cbcbcb;
  }
  .hamburger_line2 {
    width: 23px;
    padding-left: 3px;
    height: 4px;
    transform: rotate(43deg);
    background-color: #cbcbcb;
  }

  .wrap_chats {
    margin-left: 43px;
  }
  .wrapchats_headline {
    margin-left: 59px;
    margin-top: 60px;
    color: #cbcbcb;
    font-family: "Roboto Medium";
    font-weight: lighter;
  }

  .wrap_sourcecode {
    text-decoration: none;
    color: #cbcbcb;
  }

  .profile_sec {
    margin-bottom: 50px;
  }
}
