.navbar {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list {
  padding: 0;
}

.list_items {
  display: inline-block;
  padding: 0 100px 0px 0px;
  color: #787b7d;
  font-family: "Roboto Medium";
}

.list_items:nth-child(1) {
  padding: 0 110px 0px 0px;
}

.logo {
  width: 45px;
  margin: 0 auto;
}

.hamburger_menu span {
  display: none;
}

.checkbox {
  display: none;
}

/* Navbar view for Tablets */
@media screen and (max-width: 1100px) {
  .list_items {
    padding: 0 50px 0px 0px;
  }
  .list_items:nth-child(1) {
    padding: 0 50px 0px 0px;
  }
}

/*  Navbar view for Handys */
@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .list_items {
    margin: 15px;
    font-size: 1.2em;
  }

  .list_items:nth-child(3) {
    display: none;
  }

  .hamburger_menu span {
    display: block;
    margin: 4px;
    height: 4px;
    width: 25px;
    background: #cbcbcb;
    border-radius: 3px;
  }

  .list_items {
    padding: 0;
  }
  .list_items:nth-child(1) {
    padding: 0;
  }

  .logo {
    margin: 0;
  }

  .ham-wrap {
    height: 100vh;
    width: 100%;
    background-color: #303234;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .checkbox {
    display: block;
    position: fixed;
    left: 0px;
    top: 25px;

    width: 35px;
    height: 30px;
    z-index: -9;
  }

  .checkbox:checked ~ .ham-wrap {
    display: block;
  }
}
