.settings {
  background-color: #24272c;
  height: 100vh;

  display: flex;
}

.content {
  flex: auto; /*oder flex:2*/
  overflow-y: scroll;
  margin-left: 100px;
}

.head {
  color: #cbcbcb;
  margin-top: 54px;
  font-family: "Roboto Regular";
  margin-bottom: 54px;
}

.profile_sec {
  width: 85%;
  height: 337px;

  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  background-color: #303234;
}

.profilepic_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_pic {
  width: 148px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 74px;
}

.profilepic_text {
  font-family: "Roboto Regular";
  color: #cbcbcb;
}

.profileinfo_container {
  width: 70%;

  padding-left: 73px;
  padding-top: 44px;
}

.profile_info {
  margin-bottom: 32px;
  font-family: "Roboto Regular";
  color: #cbcbcb;
}
.profile_field {
  width: 50%;
  height: 39px;
  margin-bottom: 52px;
  background-color: #3a3a3a;
}


.seperation_line {
  margin:0px;
  width: 85%;
  border-top: #4b4d4e solid 1px;
  margin-top: 65px;
}


.change_password{
  height:52px;
  width:222px;
  margin-top: 50px;
 
  font-weight:bolder;
  border-radius: 5px;
  color:#474747;
  background-color:#F9BA2C;
  border:none;
  font-size:14px;
}

.delete_account{
  height:52px;
 width:222px;
 margin-top: 50px;
 border-radius: 5px;
 
 font-weight:bolder;
 color:#F9BA2C;
 background-color:#24272C;
 border:solid 3px #F9BA2C;
 font-size:14px;
}
